@import '../../styles/variables.scss';

.events-list {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  .event {
    width: 300px;
    padding: 20px;
    margin: 10px;

    border-radius: 20px;
    background-color: $container-back-color;

    h2 {
      line-break: anywhere;
    }

    p {
      line-break: anywhere;
    }

    footer {
      .details {
        margin-bottom: 20px;

        svg {
          height: 16px;
          margin-right: 4px;
        }

        div {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
