@import '../../styles/variables.scss';

.event-details {
  width: 88%;
  max-width: 800px;
  margin: 40px auto 0;
  padding: 20px 80px;
  position: relative;

  background-color: $container-back-color;
  border-radius: 20px;

  h2 {
    width: 60%;
    margin: 0 auto 20px;
    line-break: anywhere;
  }

  button {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.remove {
      background-color: $red;
      right: 80px;
    }

    &.edit {
      right: 130px;
    }

    svg {
      margin: 0;
    }
  }

  .date {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 20px;
      margin-right: 12px;
    }
  }

  .description {
    p {
      line-break: anywhere;
    }

    p:not(:first-child) {
      margin-top: 8px;
    }
  }

  address {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-style: normal;

    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-right: 16px;
      }

      svg {
        height: 18px;
        margin-right: 8px;
      }
    }
  }

  #map {
    width: 100%;
    height: 350px;
    margin-top: 16px;
    border-radius: 20px;
    overflow: hidden;
  }

  @media screen and (max-width: 720px) {
    & {
      padding: 20px;

      button.remove {
        right: 20px;
      }

      button.edit {
        left: 20px;
      }
    }
  }
}
